@model ICollection<ExamApp.Models.Car>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Search</h1>
    @Html.ValidationSummary()

    <form action="/search" method="get">
        <label for="plates">Lisence plate: </label>
        <input type="text" id="Plate" name="Plate" />
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
    <h2><a href="/search/police">Search for police cars</a></h2>
    <h2><a href="/search/diplomat">Search for diplomat cars</a></h2>
    <table>
        <tr>
            <th>Plate</th>
            <th>Brand</th>
            <th>Model</th>
            <td>Color</td>
            <td>Year</td>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Plate</td>
                <td>
                    <form action="/search/@item.Car_brand" method="get">
                        <input type="hidden" name="Car_brand" value="@item.Car_brand" />
                        <button type="submit">@item.Car_brand</button>
                    </form>
                </td>
                <td>@item.Car_model</td>
                <td>@item.Color</td>
                <td>@item.Year</td>
            </tr>
        }
    </table>
</body>
</html>
